* {
  box-sizing: border-box !important;
}
.row {
  height: auto;
}
.right {
  display: flex;
  flex-wrap: wrap;
}
.left img {
  height: 470px !important;
  width: 447px;
}
.left .card {
  height: 630px !important;
  border-radius: 10px;
  position: relative;
}
.card-body {
  background-color: #232d36;
}
.card-text,
span,
hr {
  color: rgba(255, 255, 255, 0.921);
}
.container {
  height: auto;
  width: 110%;
  padding: 0;
}
.right img {
  height: 170px;
}
span {
  margin: 5px;
  font-size: small;
}
.year {
  background-color: red;
  padding: 3px 4px;
  border-radius: 3px;
}
.contact {
  font-size: 18px;
  font-weight: bolder !important;
}
h6 {
  color: rgba(255, 0, 0, 0.693);
}
h2 {
  font-weight: bold;
}
.btn {
  padding: 5px 35px;
  border-radius: 5px;
  border: 1px solid;
  margin: 5px;
}
#u-btn {
  border: 1px solid red;
  color: rgb(233, 29, 29);
  background-color: rgba(255, 0, 0, 0.195);
}
#n-btn {
  background-color: rgba(217, 220, 222, 0.267);
  border: none;
  margin-right: 70px;
}
.right .card {
  height: 40px !important;
  border-radius: 10px;
  margin: 5px;
}
.card-body {
  border-radius: 0px 0 10px 10px;
  margin-top: -20px;
}
.card-img-top {
  border-radius: 10px 10px 0 0;
}
i{
    position: absolute;
    top: 410px;
    left: 20px;
    color: rgba(255, 255, 255, 0.578);
}
body{
    background-color: rgba(240, 248, 255, 0.329);
}

@media (max-width: 551px) {
    .right {
        height: 150vh;
        width: 100%;
}
.right .card{
    width: 110% !important;
}
#u-btn, #n-btn{
    margin-left: 58%;
}
}